div
{
    border-radius: 45px;
    }

body{
	background-image: url(backgroundimage.jpg);
	background-size: cover;
    }

img {
    width: 200px;
    border-radius: 50%;
}
#header
{
    position: fixed;
    z-index: 1;
    height:40px;
    width: 98%;
    /*background-color: #668284;*/
    margin-bottom: 10px;
    }

#name {
    float:left;
	margin-left: 20px;
	padding-bottom: 10px;
	font-size: 22px;
	font-family: Verdana, sans-serif;
	color: #1b1bec;
}

#email{
    float:right;
    margin-right: 20px;
	padding-bottom: 10px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#contact
{
    margin-left:45%;
    padding-bottom: 10px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
    }

a:hover {
    /*font-weight: bold;*/
}

.right
{
    float: left;
    margin-top: 50px;
    padding-left:5px;
    /*margin-right: -10px;
    margin-left: 14%;*/
    height: auto;
    width: 99%;
    background-color: #E3EDD8;
    }

/*.left
{
    float: left;
    margin-top: 50px;
    /*margin-right: -90px;
    height: relative;
    width: 10%;
    background-color: #4160E8;
    }*/
    
#footer
{
    height:40px;
    clear:both;
    position: relative;
    background-color: #C1E3E1;
    }
    
h3
{
    text-decoration: underline;
    }

h1{
    text-align: center;
}
#job-responsibilities
{
    padding: 1px;
    }
.job-title
{
   /* font-weight: bold;*/
    }
table
{
    border: 1px dashed black;
    }
td
{
    padding: 2px;
    border: 1px solid #E88741;
    }

#course-name
{
   /* font-weight:bold;*/
    }

#company-name
{
    height:2px;
    text-decoration:underline;
    }
#job-title
{
    height: 5px;
    }
.job-duration
{
    float:right;
    }
#heading
{
    font-weight:bold;
    }

.container{
	display: flex;
	flex-wrap:wrap;
	justify-content:center;
	/*display: grid;
	grid-gap: non-e;
	grid-template-columns:2fr 2fr;*/
}


img{
	width: 320px;
	height: 290px;
	margin: 10px;
	transition: all 1s;
}

img:hover{
	transform: scale(1.1);
}